{% extends "Default.html.twig" %}

{% block title %}Pages{% endblock %}

{% block content %}

	<h1>Neue Seite</h1>

	<form action="{{ path_for('page/create') }}" method="post">
		<div class="form-group">
			<label for="uri">URI</label>
			<input type="text" class="form-control" id="uri" name="uri" aria-describedby="uri" placeholder="URI">
			<small id="uri" class="form-text text-muted">URI of the new page element</small>
		</div>
		<div class="form-group">
			<label for="apiKey">API Key</label>
			<input type="text" class="form-control" id="apiKey" name="apiKey" aria-describedby="apiKey" placeholder="API Key" value="{{ apiKey }}">
			<small id="apiKey" class="form-text text-muted">API Key for creating external entries</small>
		</div>
		<button type="submit" class="btn btn-primary">Create</button>
	</form>

{% endblock %}