{% extends "Default.html.twig" %}

{% block title %}Pages{% endblock %}

{% block content %}

	<h1>Seiten <a href="{{ path_for('page/create') }}" class="btn btn-primary" data-command="new">Create <kbd>CTRL + N</kbd></a></h1>

	{% for page in pages %}
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">{{ page.uri }}</h5>
				<p class="card-text">API Key: {{ page.apiKey }}</p>
			</div>
		</div>
	{% endfor %}

{% endblock %}