{% extends "Default.html.twig" %}

{% block title %}Willkommen{% endblock %}

{% block content %}

	<h1>About</h1>

	<p>
	    PHP Watch is a self hosted observe/logging solution for small & middle size websites.<br />
	    The poject is open source. Feel free to contribute on <a href="https://github.com/phpwatch/phpwatch" target="_blank">https://github.com/phpwatch/phpwatch</a>
	</p>

{% endblock %}