{% extends "Default.html.twig" %}

{% block title %}Willkommen{% endblock %}

{% block content %}

	<h1>Short term</h1>
	<figure class="figure chart" id="chart10minutes" data-chart-uri="{{ path_for('log/data',  { 'area': '10m' }) }}">
      <figcaption class="figure-caption">Log entries of the last 10 minutes.</figcaption>
    </figure>

	<h1>Medium term</h1>
	<figure class="figure chart" id="chart24hours" data-chart-uri="{{ path_for('log/data',  { 'area': '24h' }) }}">
      <figcaption class="figure-caption">Log entries of the last 24 hours.</figcaption>
    </figure>

	<h1>Long term</h1>
	<figure class="figure chart" id="chart30days" data-chart-uri="{{ path_for('log/data',  { 'area': '30d' }) }}">
      <figcaption class="figure-caption">Log entries of the last 30 days.</figcaption>
    </figure>

{% endblock %}