{% extends "Default.html.twig" %}

{% block title %}Willkommen{% endblock %}

{% block content %}

	<div class="chart" id="homeChart" data-chart-uri="{{ path_for('log/data') }}"></div>

{% endblock %}