<!DOCTYPE html>
<html lang="en">
<head>{% htmlcompress %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %} - PHP Watch</title>
	{% include 'Block/HtmlCss.html.twig' %}
{% endhtmlcompress %}</head>
<body><div class="container">{% block content %}{% endblock %}</div>
	{% include 'Block/HtmlJs.html.twig' %}
</body>
</html>
